<!-- admin-signin.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/admin-style.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/images/ROYAL CAKE savour full brown.png">
  <title>ROYAL CAKE SAVOUR</title>
</head>
<body>
    <div id="login" class="tabcontent">
        <div class="container">
            <div class="form-box">
                <h1 id="title">Sign In</h1>
                <form>
                    <div class="input-group">
                        <div class="input-field" id="nameField">
                            <input type="text" placeholder="Username">
                        </div>
    
                        <div class="input-field">
                            <input type="password" placeholder="Password">
                        </div>
                    </div>
    
                    <div class="btn-field">
                        <button type="button" id="signinbtn">Sign In</button>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
</body>
</html>
