<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROYAL CAKE SAVOUR</title>
    <link rel="icon" type="image/x-icon" href="/images/ROYAL CAKE savour full brown.png">
    <link href="/stylesheets/style.css" rel="stylesheet">
    
</head>

<body>
        <header>
        <button class="links" onclick="openCake(event, 'home')" id="defaultOpen"><img src="/images/ROYAL CAKE savour full brown.png" style="width:150px"></button>
    </header>
    <nav>

        <div class="tab">
            <button class="tablinks" onclick="openCake(event, 'about-us')">About Us</button>
            <button class="tablinks" onclick="openCake(event, 'home')">Home</button>
            <button class="tablinks" onclick="openCake(event, 'q&a')">FAQ</button>
            <button class="tablinks" onclick="openCake(event, 'contact')">Contact Us</button>
        </div>
    </nav>

    <!--About us Section-->
    <div id="about-us" class="tabcontent">
            <section id="about-us" class="section">
                <h1 style="text-align: center; font-size: xx-large;">About Us</h1>
                <div class="container flex">
                    <div class="left">
                        <img src="/images/ROYAL CAKE savour full brown.png" style="width:100%;">
                    </div>
                    <div class="right">
                    <p><b>Royal Cake Savour</b> yang berlokasi di Pontianak telah hadir untuk menemani momen keserian Anda. 
                    <b>Royal Cake Savour</b> menyediakan aneka kue dan cemilan yang dapat Anda pilih. 
                    Kami juga menerima pesanan kue untuk segala acara spesial Anda sesuai dengan yang diinginkan. 
                    Kami menyadari bahwa setiap momen memiliki cerita dan tidak boleh terlewatkan, 
                    maka dengan senang hati kami menerima aneka model pesanan kue yang dapat disesuaikan 
                    dengan baik itu tema acara, ukuran, bentuk, hingga budget. Kami selalu berusaha untuk memberikan 
                    yang terbaik demi kepuasan Anda.</p>
                    <h3>Mengapa Royal Cake Savour?</h3>
                    <p>Kami selalu menggunakan bahan-bahan segar dan premium dalam proses pembuatan kue untuk pelanggan tercinta. Kami juga fokus kepada kepuasan pelanggan kami dan selalu berusaha yang terbaik dalam hal ini.</p>
                </div>
            </section>
        </div>
    
    <!--Home Section-->
    <div class="container">
        <div id="home" class="tabcontent">
            <section id="home" class="section">
                <h1 style="text-align: center; font-size: xx-large;">Available Products</h1>
                <br>
                <div class="selections">
                    <button class="content" onclick="openCake(event,'bento')"><img src="images/white-bento.png" style="width:200px"><p>Bento Cake</p></button>
                    <button class="content" onclick="openCake(event,'mini-korean')"><img src="images/pumpkin-minikorean.png" style="width: 200px;"><p>Mini Korean</p></button>
                    <button class="content" onclick="openCake(event,'d12')"><img src="images/pink-piebis-d12.png" style="width:200px"><p>D12 Butter Cream</p></button>
                    <button class="content" onclick="openCake(event,'d15')"><img src="images/skin-chocolate.png" style="width: 200px;"><p>D15 Butter Cream</p></button>
                    <button class="content" onclick="openCake(event,'d18')"><img src="images/yellow-popcorn-d12.png" style="width:200px"><p>D18 Butter Cream</p></button>
                    <button class="content" onclick="openCake(event,'d20')"><img src="images/tango-oreo-d15.png" style="width:200px"><p>D20 Butter Cream</p></button>
                    <button class="content" onclick="openCake(event,'slice')"><img src="images/wa.png" style="width:200px"><p>Slice Cake</p></button>
                </div>

                <h1 style="text-align: center; font-size: xx-large;">Find Us On</h1>
                <p><img src="images/ig.png" style="width: 10%;"></p>
                <p>Instagram @royalcakesavour</p>
            </section>
        </div>

        <div id="bento" class="tabcontent">    
            <div class="container flex">
                <div class="left">
                    <img src="images/bento-blue-lattice.png" alt="Bento Cake D10cm"/>
                </div>
                <div class="right">
                    <h1>Bento Cake</h1>
                        <div class="desc">
                        <p>Kue ulang tahun mini dalam wadah styrofoam yang mudah dibawa dan sederhana tetapi tetap berkesan.</p>
                        <pre>Ukuran           :               Diameter 10cm<br>Harga             :               Mulai dari Rp40.000,-<br>Base kue         :               Chocolate cake
                        </pre>
                        </div>
                    <div class="order">
                        <span>PEMESANAN</span>
                        <button><img src="images/ig.png" style="width:18px; height:18px"></button>
                        <button><img src="images/wa.png" style="width:18px; height:18px"></button>
                    </div>
                </div>
            </div>
        
            <div class="variation-details">
                <h2>Contoh Kue</h2>
                <div class="variation-img">
                <img src="images/bento-bear.png"/>
                <img src="images/bento-heart.png"/>
                <img src="images/bento-smiley.png"/>
                <img src="images/white-bento.png"/>
                <img src="images/bento-pink.png"/>
                <img src="images/bento-red-hbd.png"/>
                </div>
            </div>
            </div>

            <div id="mini-korean" class="tabcontent">    
                <div class="container flex">
                    <div class="left">
                        <img src="images/plane-minikorean.png" alt="Mini Korean D10cm Birthday Cake"/>
                    </div>
                    <div class="right">
                        <h1>Mini Korean Cake (D10cm)</h1>
                            <div class="desc">
                            <p>Kue ulang tahun mini yang mudah dibawa dan sederhana tetapi tetap berkesan.</p>
                            <pre>Ukuran          :               Diameter 10cm<br>Harga            :               Mulai dari Rp50.000,-<br>Base kue        :               Chocolate cake
                            </pre>
                            </div>
                        <div class="order">
                            <span>PEMESANAN</span>
                            <button><img src="images/ig.png" style="width:18px; height:18px"></button>
                            <button><img src="images/wa.png" style="width:18px; height:18px"></button>
                        </div>
                    </div>
                </div>
            
                <div class="variation-details">
                    <h2>Contoh Kue</h2>
                    <div class="variation-img">
                    <img src="images/purplesky2-minikorean.png"/>
                    <img src="images/blackwhite-minikorean.png"/>
                    <img src="images/pink-minikorean.png"/>
                    <img src="images/blue-yellowstar-minikorean.png"/>
                    <img src="images/gege-face-minikorean.png"/>
                    <img src="images/celebrate-ceres-minikorean.png"/>
                    <img src="images/bdaycat-minikorean.png"/>
                    <img src="images/blue-springkle-minikorean.png"/>
                    <img src="images/purplesky-minikorean.png"/>
                    <img src="images/doraemon-minikorean.png"/>
                    <img src="images/bt21tata-minikorean.png"/>
                    <img src="images/halloween-minikorean.png"/>
                    <img src="images/butterflies.png"/>
                    <img src="images/pumpkin-minikorean.png"/>
                    </div>
                </div>
                </div>
         
    <div id="d12" class="tabcontent">    
    <div class="container flex">
        <div class="left">
            <img src="images/goldleaf-flower-d12.png" alt="Diameter 12cm Birthday Cake"/>
        </div>
        <div class="right">
            <h1>D12cm</h1>
                <div class="desc">
                <p>Kue ulang tahun dengan berbagai pilihan varian yang lezat dan desain yang menawan untuk dirayakan bersama orang-orang terdekat.</p>
                <pre>Ukuran          :               Diameter 12cm<br>Harga            :               Mulai dari Rp75.000,-<br>Base kue        :               Chocolate cake
                </pre>
                </div>
                <div class="variant-list">
                <h3>Variant List:</h3>
                    <ul>
                        <li><strong>Choco Delight</strong> (Chocolate cake dengan perpaduan coklat ganache dan krim coklat di setiap lapisannya).</li>
                        <li><strong>Double Choco</strong> (Chocolate cake yang berbalut coklat dengan isian krim coklat).</li>
                        <li><strong>Choconut</strong> (Chocolate cake dengan isian coklat ganache dan taburan kacang).</li>
                        <li><strong>Chocoberry</strong> (Chocolate cake dengan perpaduan selai strawberry dan coklat ganache).</li>
                        <li><strong>Blackforest</strong> (Chocolate cake dengan perpaduan selai strawberry dan krim).</li>
                        <li><strong>Red Velvet</strong> (Kue bolu berlapis creamcheese).</li>
                    </ul>
                </div>
            <div class="order">
                <span>PEMESANAN</span>
                 <button><img src="images/ig.png" style="width:18px; height:18px"></button>
                 <button><img src="images/wa.png" style="width:18px; height:18px"></button>
            </div>
        </div>
    </div>


    <div class="variation-details">
        <h2>Contoh Kue</h2>
        <div class="variation-img">
        <img src="images/flower-petals-d12.png"/>
        <img src="images/xmas-d12.png"/>
        <img src="images/blue-piebis-d12.png"/>
        <img src="images/brown-coin-chocoball-d12.png"/>
        <img src="images/pink-topper-d12.png"/>
        <img src="images/pink-crown-d12.png"/>
        <img src="images/orange-springkle-d12.png"/>
        <img src="images/pink-piebis-d12.png"/>
        <img src="images/purple-flower-d12.png"/>
        <img src="images/red-goldspringkle-d12.png"/>
        <img src="images/red-hearttopper-d12.png"/>
        <img src="images/tango-d12.png"/>
        <img src="images/yellow-popcorn-d12.png"/>
        <img src="images/yellow-tango-d12.png"/>
        </div>
    </div>
    </div>

    <div id="d15" class="tabcontent">    
        <div class="container flex">
            <div class="left">
                <img src="images/chocoball-d15.png" alt="Diameter 15cm Birthday Cake"/>
            </div>
            <div class="right">
                <h1>D15cm</h1>
                   <div class="desc">
                    <p>Kue ulang tahun dengan berbagai pilihan varian yang lezat dan desain yang menawan untuk dirayakan bersama orang-orang terdekat.</p>
                    <pre>Ukuran          :               Diameter 15cm<br>Harga            :               Mulai dari Rp100.000,-<br>Base kue        :               Chocolate cake
                    </pre>
                    </div>
                    <div class="variant-list">
                    <h3>Variant List:</h3>
                        <ul>
                            <li><strong>Choco Delight</strong> (Chocolate cake dengan perpaduan coklat ganache dan krim coklat di setiap lapisannya).</li>
                            <li><strong>Double Choco</strong> (Chocolate cake yang berbalut coklat dengan isian krim coklat).</li>
                            <li><strong>Choconut</strong> (Chocolate cake dengan isian coklat ganache dan taburan kacang).</li>
                            <li><strong>Chocoberry</strong> (Chocolate cake dengan perpaduan selai strawberry dan coklat ganache).</li>
                            <li><strong>Blackforest</strong> (Chocolate cake dengan perpaduan selai strawberry dan krim).</li>
                            <li><strong>Red Velvet</strong> (Kue bolu berlapis creamcheese).</li>
                        </ul>
                    </div>
                <div class="order">
                    <span>PEMESANAN</span>
                    <button><img src="images/ig.png" style="width:18px; height:18px"></button>
                    <button><img src="images/wa.png" style="width:18px; height:18px"></button>
                </div>
            </div>
        </div>
    
        <div class="variation-details">
            <h2>Contoh Kue</h2>
            <div class="variation-img">
            <img src="images/blue-leaf-d15.png"/>
            <img src="images/cherry-choco-d15.png"/>
            <img src="images/cherry-red-d15.png"/>
            <img src="images/cherry-yellow-d15.png"/>
            <img src="images/chocoball-d15.png"/>
            <img src="images/skin-chocolate.png"/>
            <img src="images/red-flower-d15.png"/>
            <img src="images/white-chocodrip-d15.png"/>
            </div>
        </div>
        </div>

    <div id="d18" class="tabcontent">    
        <div class="container flex">
            <div class="left">
                <img src="images/yellow-popcorn-d15.png" alt="Diameter 18cm Birthday Cake"/>
            </div>
            <div class="right">
                <h1>D18cm</h1>
                    <div class="desc">
                    <p>Kue ulang tahun dengan berbagai pilihan varian yang lezat dan desain yang menawan untuk dirayakan bersama orang-orang terdekat.</p>
                    <pre>Ukuran          :               Diameter 18cm<br>Harga            :               Mulai dari Rp150.000,-<br>Base kue        :               Chocolate cake
                    </pre>
                    </div>
                    <div class="variant-list">
                        <h3>Variant List:</h3>
                            <ul>
                                <li><strong>Choco Delight</strong> (Chocolate cake dengan perpaduan coklat ganache dan krim coklat di setiap lapisannya).</li>
                                <li><strong>Double Choco</strong> (Chocolate cake yang berbalut coklat dengan isian krim coklat).</li>
                                <li><strong>Choconut</strong> (Chocolate cake dengan isian coklat ganache dan taburan kacang).</li>
                                <li><strong>Chocoberry</strong> (Chocolate cake dengan perpaduan selai strawberry dan coklat ganache).</li>
                                <li><strong>Blackforest</strong> (Chocolate cake dengan perpaduan selai strawberry dan krim).</li>
                                <li><strong>Red Velvet</strong> (Kue bolu berlapis creamcheese).</li>
                            </ul>
                        </div>
                    <div class="order">
                        <span>PEMESANAN</span>
                         <button><img src="images/ig.png" style="width:18px; height:18px"></button>
                         <button><img src="images/wa.png" style="width:18px; height:18px"></button>
                    </div>
                </div>
            </div>
        
        <div class="variation-details">
            <h2>Contoh Kue</h2>
            <div class="variation-img">
            <img src="images/yellow-popcorn-d15.png"/>
            <img src="images/tango-oreo-d15.png"/>
            <img src="images/red-topper-d15.png"/>
            <img src="images/chocolate-nut-d12.png"/>
            <img src="images/duck-d12.png"/>
            <img src="images/velvet-whitechoco-d12.png"/>
            <img src="images/green-cherry-d12.png"/>
            <img src="images/guitar-d12.png"/>
            </div>
        </div>
        </div>
         
    <div id="d20" class="tabcontent">    
        <div class="container flex">
            <div class="left">
                <img src="images/pink-ribbon-d15.png" alt="Diameter 20cm Birthday Cake"/>
            </div>
            <div class="right">
                <h1>D20cm</h1>
                    <div class="desc">
                    <p>Kue ulang tahun dengan berbagai pilihan varian yang lezat dan desain yang menawan untuk dirayakan bersama orang-orang terdekat.</p>
                    <pre>Ukuran          :               Diameter 20cm<br>Harga            :               Mulai dari Rp200.000,-<br>Base kue        :               Chocolate cake
                    </pre>
                    </div>
                    <div class="variant-list">
                        <h3>Variant List:</h3>
                            <ul>
                                <li><strong>Choco Delight</strong> (Chocolate cake dengan perpaduan coklat ganache dan krim coklat di setiap lapisannya).</li>
                                <li><strong>Double Choco</strong> (Chocolate cake yang berbalut coklat dengan isian krim coklat).</li>
                                <li><strong>Choconut</strong> (Chocolate cake dengan isian coklat ganache dan taburan kacang).</li>
                                <li><strong>Chocoberry</strong> (Chocolate cake dengan perpaduan selai strawberry dan coklat ganache).</li>
                                <li><strong>Blackforest</strong> (Chocolate cake dengan perpaduan selai strawberry dan krim).</li>
                                <li><strong>Red Velvet</strong> (Kue bolu berlapis creamcheese).</li>
                            </ul>
                        </div>
                    <div class="order">
                        <span>PEMESANAN</span>
                        <button><img src="images/ig.png" style="width:18px; height:18px"></button>
                        <button><img src="images/wa.png" style="width:18px; height:18px"></button>
                    </div>
                </div>
            </div>
            
        <div class="variation-details">
            <h2>Contoh Kue</h2>
            <div class="variation-img">
            <img src="images/chat-bubble-d15.png"/>
            <img src="images/kissemot-d15.png"/>
            <img src="images/pink-ribbon-d15.png"/>
            <img src="images/heart-cherry-d15.png"/>
            <img src="images/one-pcs.png"/>
            <img src="images/powerpuff-d15.png"/>
            <img src="images/ceres-cover-d12.png"/>
            <img src="images/yellow-white-popcorn-d12.png"/>
            </div>
        </div>
        </div>
         

    <div id="slice" class="tabcontent">    
        <div class="container flex">
            <div class="left">
                <img src="images/blackforest_slicecake" alt="Slice Cake"/>
            </div>
            <div class="right">
                <h1>Slice Cake</h1>
                    <div class="desc">
                    <p>Slice cake dengan berbagai pilihan varian yang lezat yang memiliki hiasan dan tampilan yang elegan untuk meningkatkan mood saat menikmatinya.</p>
                    <pre>Harga             :               Rp25.000,-<br>Base kue         :               Chocolate cake, vanilla cake, matcha cake
                    </pre>
                    </div>
                    <div class="variant-list">
                        <h3>Variant List:</h3>
                            <ul>
                                <li><strong>Blackforest</strong> (Chocolate cake dengan perpaduan selai strawberry dan whip cream, dihiasi parutan coklat dan cherry).</li>
                                <li><strong>Matcha</strong> (Matcha cake dengan selai matcha, whip cream, dan taburan bubuk matcha di atasnya).</li>
                                <li><strong>Orange Shortcake</strong> (Vanilla cake dengan isian jeruk dan whip cream).</li>
                                <li><strong>Tiramisu Delight</strong> (Vanilla cake dengan perpaduan selai tiramisu dan whip cream).</li>
                            </ul>
                        </div>
                <div class="order">
                    <span>PEMESANAN</span>
                    <button><img src="images/ig.png" style="width:18px; height:18px"></button>
                    <button><img src="images/wa.png" style="width:18px; height:18px"></button>
                </div>
             </div>
        </div>

            <div class="variation-details">
                <h2>Contoh Kue</h2>
                <div class="variation-img">
                <img src="images/orangeshortcake_slicecake"/>
                <img src="images/matcha_slicecake"/>
                <img src="images/blackforest_slicecake"/>
                <img src="images/tiramisudelight_slicecake"/>
                </div>
            </div>
            </div>
    
    
    <div id="q&a" class="tabcontent">
        <div class="container">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
            <div class="wrapper">
                <h1 style="text-align:center;">Frequently Asked Questions</h1>

                <div class="faq">
                    <button class="dropdown-buttons">
                    Apakah setiap pembelian kue sudah free lilin?
                    <i class="fa-solid fa-chevron-down"></i>
                    </button>
                <div class="panel">
                    <p>
                    Ya, setiap pembelian kue sudah free lilin standar (lilin spiral) dan sebuah pisau plastik. <br>
                    </p>
                </div>
                </div>

                <div class="faq">
                    <button class="dropdown-buttons">
                    Apakah bisa request penulisan saat membeli kue?
                    <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="panel">
                    <p>
                    Setiap pembelian kue, kami menerima request penulisan ucapan dipapan cokelat. <br>
                    </p>
                    </div>
                </div>

                <div class="faq active">
                    <button class="dropdown-buttons">
                     Apakah Royal Cake Savour memiliki layanan delivery?
                    <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="panel">
                    <p>
                    Kami memiliki layanan delivery melalui via kurir mobil. <br>
                    </p>
                    </div>
                </div>

                <div class="faq">
                    <button class="dropdown-buttons">
                    Kapan waktu maksimal pemesanan kue?
                    <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="panel">
                    <p>
                    Pemesanan kue dilakukan maksimal H-1 atau 24 jam sebelum kue diambil. <br>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

<!--Contact Us-->
    <div class="container">
        <div id="contact" class="tabcontent">
            <section id="contact" class="section">
                
                <div class="contact-us">
                    <h1>Your Comments and concerns are important to us.</h1>
                    <p style="text-align: left;">Please let us know</p>
                    <p>Name:</p>
                    <input type="text" style="height:20px; width:350px;"/>

                    <p>Email:</p>
                    <input type="text" style="height:20px; width:350px;"/>

                    <p>Phone:</p>
                    <input type="text" style="height:20px; width:350px;"/>

                    <p>Subject:</p>
                    <input type="text" style="height:20px; width:350px;"/>

                    <p>Your Message</p>
                    <textarea style="height:100px; width:350px;"></textarea>

                    <p><button style="background-color: #F2D492; border: solid; width: 150px; height: 50px; border-radius:10px; border-color: #F2D492; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Submit</button></p>
                </div>

            </section>
          </div>
        </div>
    
<!--Login Page
    <div id="login" class="tabcontent">
        <div class="container">
            <div class="form-box">
                <h1 id="title">Sign Up</h1>
                <form>
                    <div class="input-group">
                        <div class="input-field" id="nameField">
                            <input type="text" placeholder="Name">
                        </div>
    
                        <div class="input-field">
                            <input type="email" placeholder="Email">
                        </div>
    
                        <div class="input-field">
                            <input type="password" placeholder="Password">
                        </div>
                        <p>Forgot password? <a href="#">Click here!</a></p>
                    </div>
    
                    <div class="btn-field">
                        <button type="button" id="signupbtn">Sign Up</button>
                        <button type="button" id="signinbtn" class="disable">Sign In</button>
                    </div>
    
                </form>
            </div>
        </div>
    </div>

    -->

    
    <!--Footer-->
      
    <footer>
            <ul style="padding-top:10px">
                <li><img src="images/wa.png" style="height:15px; width:15px"> <b>0896-1228-1227</b></li>
                <li><img src="images/ig.png" style="height:15px; width:15px"> <b>@royalcakesavour</b></li>
                <li><img src="images/loc.png" style="height:17px; width:17px"> <b>Jl. Wonobaru, Warkop Super Horizon (samping Indomaret)</b></li>
            </ul>            
        </footer>

    <!--js-->
        <script src="/javascripts/script.js"></script>
    </body>
    </html>
