.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.form-box {
  width: 120%;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F2D492;
  padding: 50px 50px 70px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
  width: 80%;
  background: white;
  border: 0;
  outline: 00;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

