body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  background-color: #F2D492;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.tab{
  overflow: hidden;
}

nav {
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover {
  color: #ac6700;
}

button{
  background-color:white;
  border:none;
}

button.tablinks  {
  padding: 10px 20px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:none;
  font-size: large;
  margin: 10px;
  border:none;
}
button.links{
  background-color:#F2D492;
}

button:hover{
  color: #ac6700;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

section{
  text-align: center;
}

.section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

table {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
  background-color: #F2D492;
  color: #000;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-top: 5px;
  bottom: 5px;
  width: 100%;
  height:auto;
}

ul{
  list-style-type: none;
}

div.faq {
  color: #000;
  font-size: large;
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.panel {
  color:darkslategrey;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown-buttons {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.panel {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: hidden;
  position:sticky;
  z-index: 1;
  top: 45px;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: #000;
  font-size: large;
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown-buttons:focus + .panel, .dropdown-buttons:active + .panel {
  display: block;
}

div.selections{
  padding-top:10px;
  margin-bottom: 50px;
}

div.contact-us{
  border: solid;
  border-color: #F2D492;
  padding-top: 10px;
  padding-left: 50px;
  text-align: left;
  padding-bottom: 50px;
}

/*CSS Item Details*/

#item-details{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container flex{
  max-width: 90%;
  margin:auto;
  height: 80vh;
  margin-top: 5%;
}

.left, .right{
  width: 50%;
  padding: 30px;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.left img{
  width: 100%;
}

.right{
  padding: 50px 0px 0px 20px;
}

.right h1{
  margin: 20px 0 10px 0;
  font-size: 300%;
}

.right p{
  margin: 10px 0px 5px 0px;
  font-size: 19px;
}

.right pre{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
  line-height: 25px;
  font-size: 16px;
}

.variant-list{
  margin-top: -30px;
}

.variant-list ul{
  margin: -15px;
  margin-bottom: 5px;
}

.variant-list li{
  padding: 2px;
  margin: 2px 0px 2px 0px;
  margin-left: -25px;
  display: inline-block;
}

.variation-details{
  padding: 10px;
}

.variation-details h2{
  text-align: center;
}

.variation-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.variation-img img{
  margin: 50px 30px 50px 30px;
  padding: 10px 0 10px 0;
  float: left;
  width: 350px;
  height: 350px;
  object-fit: contain;
}

.variation-img img:hover{
  cursor: pointer;
  transform: scale(1.25);     
}

#about-us p{
  text-align: justify;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 3px;
  margin: 2px;
  line-height: 20px;
}

#about-us h3{
  margin-top: 20px;
  margin-bottom: 5px;
}
